#root{
    width: 100vw;
    height: 100vh;
    background-color: #a0bfe1
}
.formDiv{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height:100px;
    width: 100%;
}
.form{
    display: flex;
    align-items: center;
}
.inp{
    width: 30vw;
    height: 4.5vh;
    border-radius: 10px 0 0 10px;
    border: 2px solid #106cfc;
}
.btns{
    width: 10vw;
    height:4.5vh;
    background-color: #106cfc;
    border: none;
    border-radius: 0 10px 10px 0;
}

.bubbles img{
    width: 50px;
    animation: bubble 7s linear infinite;
}

.bubbles{
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: absolute;
    bottom: -70px;
    background-color: #a0bfe1;
}

@keyframes bubble{
    0%{
        transform: translateY(0);
        opacity:0;
    }
    50%{
        opacity:1;
    }
    70%{
        opacity:1;
    }
    100%{
        transform: translateY(-80vh);
        opacity:0;
    }
}

.bubbles img:nth-child(1){
    animation-delay: 2s;
    width: 28px;
}
.bubbles img:nth-child(2){
    animation-delay: 1s;
    width: 45px;
}
.bubbles img:nth-child(3){
    animation-delay: 3s;
    width: 35px;
}
.bubbles img:nth-child(4){
    animation-delay: 4.5s;
    width: 43px;
}
.bubbles img:nth-child(5){
    animation-delay: 3s;
    width: 25px;
}
.bubbles img:nth-child(6){
    animation-delay: 6s;
    width: 39px;
}
.card{
    box-shadow: rgba(39, 73, 109) 0px 22px 70px 4px;    
    transition:1s ease;
    transform: translateZ(0);
}
.card:hover{
    box-shadow:
    rgba(39, 73, 109) 0px 22px 70px 4px,
    rgb(39, 73, 109) 0px 20px 30px -10px,
    rgba(0, 0, 0, 0.17) 0px -23px 25px 0px inset,
    rgba(0, 0, 0, 0.15) 0px -36px 30px 0px inset,
    rgba(0, 0, 0, 0.1) 0px -79px 40px 0px inset,
    rgba(0, 0, 0, 0.06) 0px 2px 1px,
    rgba(0, 0, 0, 0.09) 0px 4px 2px,
    rgba(0, 0, 0, 0.09) 0px 8px 4px,
    rgba(0, 0, 0, 0.09) 0px 16px 8px,
    rgba(0, 0, 0, 0.09) 0px 32px 16px;
}

.headerDiv{
    padding: 5px 10px 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 7%;
    height: 7%;
}
.errDiv{
    text-align: center;
    padding: 5px;
}
@media (max-width: 1000px){
    .logo{
        width: 10%;
        height: 10%;
    }
}
@media (max-width: 760px){
    .logo{
        width: 13%;
        height: 13%;
    }
    .inp{
        width: 35vw;
        height: 4vh;
    }
    .btns{
        width: fit-content;
        height:4vh ;
    }
}
@media (max-width: 500px){
    .logo{
        width: 17%;
        height: 17%;
    }
}
@media (max-width:400px){
    .inp{
        width: 45vw;
        height: 3vh;
    }
    .btns{
        width: fit-content;
        height:3vh ;
    }
}
@media (max-width: 330px){
    .logo{
        width: 20%;
        height: 20%;
    }
}